.panel {
  color: red;
  display: block;
  padding-top: 5%;
}

.panel-heading {
text-align: center;
margin-bottom: 5%;
font-size: 50px;
}

.panel-heading:hover {
  color: black;
  
}

th {
  border: 5px black;
color: blue;

}

p {
  font-family: Lato;
}

table {
  table-layout: auto;
  border: 5px rgb(19, 0, 0);
  text-align: center;
  font-family:'Courier New', Courier, monospace;
}

table td {
  border: 5px red;
}
